<link rel="stylesheet" href="{{url_for('static', filename='meeting.css')}}">
<span></span> {% extends "base.html" %}
<span></span> {% block title %} Scion | Schedule Meeting {% endblock %}
<span></span> {% block content %}
<div class="header">Schedule a meeting</div>
<div class="wrapper">
    <form action="/form_add_meeting" method="POST">
        <div class="inputField">
            <input type="text" name="class_name" placeholder="Meeting Name" required>
            <input type="datetime-local" name="class_time" placeholder="Time" required>
            <br>
        </div>
        <div class="inputField">
            <input type="text" name="class_link" placeholder="Meeting Link" required>
            <button type="submit"><i class="fas fa-plus"></i></button>
            <!-- <input type="submit" value=""> -->
            <!-- <button type="submit" formaction="#"><i class="fas fa-plus"></i></button> -->
        </div>
    </form>
</div>
{% endblock %}