<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-image: url({{ url_for('static', filename='background.png')}})">
    <div class="task-manager">
        <div class="left-bar">
            <div class="upper-part">
                <div class="actions">
                    <div class="circle"></div>
                    <div class="circle-2"></div>
                </div>
            </div>
            <div class="left-content">
                <ul class="action-list">
                    <li class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-inbox" viewBox="0 0 24 24">
                <path d="M22 12h-6l-2 3h-4l-2-3H2" />
                <path
                  d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
              </svg>
                        <span><a href="{{ url_for('home') }}">Completed Meetings</a></span>
                    </li>
                    <li class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                    </svg>
                        <span><a href="{{ url_for('add_meeting') }}">Schedule a meeting</a></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <div class="tasks-wrapper">
                {% block content %} {% endblock %}
            </div>
        </div>
        <div class="right-bar">
            <div class="top-part">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>
            </div>
            <div class="header">Scheduled Meetings</div>
            <div class="right-content">
                <!-- yellow, blue, red, green -->
                {% if meeting_list %} {% for meeting in meeting_list %}
                <div class="task-box {{colors[loop.index%4]}}">

                    <div class="description-task">
                        <div class="time">{{meeting['class_time']}}</div>
                        <div class="task-name">{{meeting['class_name']}}</div>
                    </div>
                    <br>
                    <span class="tag waiting">Waiting</span>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</body>

</html>