{% extends "base.html" %} {% block title %} Scion | Home {% endblock %} {% block content %}
<div class="header upcoming">Completed Meetings</div>
<div class="task">
    <input class="task-item" name="task" type="checkbox" id="item-7">
    <label for="item-7"><span class="label-text">Dashboard Design Implementation</span></label>
</div>
<div class="task">
    <input class="task-item" name="task" type="checkbox" id="item-8">
    <label for="item-8"><span class="label-text">Create a userflow</span></label>
</div>
{% endblock %}